body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #f5f5f5;
}

.faq-section {
    max-width: 700px;
    margin: 60px auto;
    paddind:0 16px;
}

.faq-item {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.faq-item:hover {
    transform: translateY(-2px);
    transition: -.2s;
}

.question {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}

.question::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
}

.answer {
    display: none;
}

.answer.open {
    display: block;
}

.modal {
    position:fixed;
    inset:0;
    background: rgba(0,0,0,0.5);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content{
    background: #fff;
    width:90%;
    max-width: 400px;
    margin: 100px auto;
    padding:20px;
    border-radius: 8px;
    
    transform: translateY(10px);
    transition: transform 0.3s ease;
}

.modal.open .modal-content {
    transform: translateY(0);
}

.close {
    cursor: pointer;
}

#works {
  padding: 60px 20px;
}

.work-item {
  margin-bottom: 60px;
}

.work-desc {
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}
