header {
    padding: 16px 20px;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #f5f5f5;
    min-height: 200vh;
}

.hamburger {
    cursor: pointer;
    position:relative;
    padding: 10px;
    z-index: 110;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #555;
    margin: 6px 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: white;

    transform: translateY(-100%);
    transition: transform 0.3s ease;

    padding: 80px 24px 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    z-index: 100;
}

.nav.open {
    transform: translateY(0);
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 24px;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);

    opacity: 0;
    visibility: hidden;
    
    z-index: 90;
}

.nav-overlay.open {
    opacity: 1;
    visibility: visible;
}

.no-scroll {
    overflow: hidden;
}



.faq-section {
    max-width: 700px;
    margin: 60px auto;
    padding:0 16px;
    z-index: 90;
}

.faq-item {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.faq-item:hover {
    transform: translateY(-2px);
    transition: -.2s;
}

.question {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
}

.question::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
}

.answer {
    display: none;
}

.answer.open {
    display: block;
}

#openModal {
    cursor: pointer;
}

.modal {
    position:fixed;
    inset:0;
    background: rgba(0,0,0,0.5);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-content{
    background: #fff;
    width:90%;
    max-width: 400px;
    margin: 100px auto;
    padding:20px;
    border-radius: 8px;
    
    transform: translateY(10px);
    transition: transform 0.3s ease;
}

.modal.open .modal-content {
    transform: translateY(0);
}

.close {
    cursor: pointer;
}

#works {
  padding: 60px 20px;
}

.work-item {
  margin-bottom: 60px;
}

.work-desc {
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
  line-height: 1.7;
}

#faq {
  scroll-margin-top: 80px;
}

/* ===== Typography Base ===== */
body {
  font-size: 16px;
  line-height: 1.7;
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
  }
}

